In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("Students.csv")
df.head()

  Background  Machine Learning  Python Remark
0       Tech              78.0    98.0   Pass
1       Tech               NaN    10.0   Fail
2   Non-Tech              69.0     NaN   Pass
3   Non-Tech              76.0    56.0   Pass
4       Tech               NaN     NaN   Pass

In [3]:
df.shape

(10, 4)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Background        10 non-null     object
 1   Machine Learning  6 non-null      float64
 2   Python            7 non-null      float64
 3   Remark            10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [7]:
df_cat = df.select_dtypes("object")
df_num = df.select_dtypes(["int64","float64"])

In [10]:
from sklearn.preprocessing import LabelEncoder
for col in df_cat:
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

In [17]:
df = pd.concat([df_num,df_cat],axis=1)

In [18]:
df.head()

   Machine Learning  Python  Background  Remark
0              78.0    98.0           1       1
1               NaN    10.0           1       0
2              69.0     NaN           0       1
3              76.0    56.0           0       1
4               NaN     NaN           1       1

In [19]:
mlmean=df["Machine Learning"].mean()
pymean=df["Python"].mean()

In [20]:
df["Machine Learning"].fillna(mlmean,inplace=True)
df["Python"].fillna(pymean,inplace=True)

In [21]:
df.head()

   Machine Learning     Python  Background  Remark
0              78.0  98.000000           1       1
1              64.0  10.000000           1       0
2              69.0  47.428571           0       1
3              76.0  56.000000           0       1
4              64.0  47.428571           1       1

In [22]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [25]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3,random_state=1)

In [26]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(xtrain,ytrain)
ypred = linreg.predict(xtest)

In [27]:
from sklearn.metrics import mean_absolute_error as mae , mean_squared_error as mse , r2_score

In [51]:
print(f"MAE :- {mae(ytest,ypred)}")
print(f"MSE :- {mse(ytest,ypred)}")
print(f"RMSE :- {mse(ytest,ypred)*0.5}")
print(f"Accuracy :- {-r2_score(ytest,ypred)}")

MAE :- 0.4737718097396268
MSE :- 0.40059148328561167
RMSE :- 0.20029574164280584
Accuracy :- 0.8026616747852524